<nav>
  VitalMonitoring
</nav>
<section>
  <div class="form-group">
    <label >Case: </label>
    <select id="caseid" class="form-control-mb-12" (change)="selectedCases($event.target.value)">
        <option value="caseId">caseId</option>
        <option value="corona">Corona</option>
        <option value="viral">viral</option>
    </select>
  </div>
<div class="form-group">
    <label >Patient: </label>
    <select id="selectid" class="form-control-mb-12" (change)="streamPatientData($event.target.value)">
      <option value="patientId">patientid</option>
      <option value="patient1">patient1</option>
      <option value="patient2">patient2</option>
    </select>

</div>
  <div style="overflow: hidden;">
        <div  style="width: 1200px; float: center;" *ngIf="chart">
          <canvas id="canvas"></canvas>
        </div>
    </div>
  </section>
    <footer>
       Copyright © 2019 Rama Shanker. All Rights Reserved
    </footer>
